.leftNavSetting{
    width: 231px;
    height: 100vh;

    position: fixed;

    display: flex;
    flex-direction: column;

    background-color: var(--nav-background-color);
    border-right: solid 0.25px rgba(129, 130, 145, 0.24);

    overflow-y: scroll;
    overflow-x: hidden;
}

#navHeading{
    width: 100%;
    height: min-content;
    padding: 2rem 0px 2rem 30px;

    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
    color: var(--nav-heading-color);
}

#menuHeading{
    width: 100%;
    height: min-content;
    padding: 0.7rem 0px 0.7rem 30px;

    font-size: 14px;
    color: rgb(120, 120, 120);
    text-transform: uppercase;
}

#menuContainer{
    width: 100%;
    height: min-content;
    padding: 0.5rem 0px 0.5rem 30px;

    display: flex;
    flex-direction: column;
}

.containers{
    cursor: pointer;
    height: min-content;

    font-size: 22px;
    color: var(--regularColor);
    transition: 0.2s;
}

.containers:hover{
    color: var(--DarkColor);
    font-weight: bold;
}

.seperate{
    width: 70%;
    height: min-content;
    transform: translateX(17.5%);
    
    margin: 0px 0px 2rem 0px;
    border-bottom: 0.25px solid var(--lightColor);
    padding: 0px 0px 2rem 0px;
}

